* {
	padding: 0;
	margin: 0;
}
body {
	padding: 50px;
	background-color: bisque;
	box-sizing: border-box;
}
.heading {
	color: rgb(12, 3, 24);
}
.Top-container {
	display: flex;
	align-items: center;
	gap: 20px;
}
#button {
	padding: 15px;
	color: azure;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: blue;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	border-radius: 15px;
}
#Search-button {
	display: inline-block;
	font-size: 16px;
	text-align: center;
	padding: 10px 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	border: none;
	border-radius: 5px;
	/* background-color: green; */
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: blue;
	box-shadow: 0px 5px 0px #2980b9;
	transition: transform 0.3s, box-shadow 0.3s;
}

#input {
	border-radius: 8px;
	padding: 7px;
}
#button:hover {
	background-color: blueviolet;
}
/* #hero-image img {
	border: 5px solid green;
} */
